@model HelperMethods.Models.User

@{
    ViewBag.Title = "CreateUserGenericHelper";
}

<h2>Создать пользователя</h2>

@using (Html.BeginForm())
{
    <div class="item">
        <label>UserId</label>
        @Html.TextBoxFor(user => user.UserId)
    </div>
    <div class="item">
        <label>Имя</label>
        @Html.TextBoxFor(user => user.FirstName)
    </div>
    <div class="item">
        <label>Фамилия</label>
        @Html.TextBoxFor(user => user.LastName)
    </div>
    <input type="submit" value="Отправить" />
}


