@model string
@using HelperMethods.Infrastructure;

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>DisplayIssue</title>
</head>
<body>
    <fieldset>
        <legend>Это сообщение сгенерированно представлением</legend>
        <div>
            Сообщение:
            <p>@Model</p>
        </div>
    </fieldset>
    <br /><br />
    <fieldset>
        <legend>Это сообщение сгенерированное вспомогательным методом</legend>
        @Html.DisplayMessage(Model)
    </fieldset>
</body>
</html>
